# Загрузка Pandas и очистка данных

In [2]:
import pandas as pd
import numpy as np

In [18]:
df = pd.read_csv('main_task.xls')

In [4]:
# Ваш код по очистке данных и генерации новых признаков
# При необходимости добавьте ячейки

In [5]:
data2 = df
###getting rid of NA values
data2 = data2.dropna()

In [6]:
### Now let's Rid of useless columns
data2 = data2.drop(columns= ['URL_TA','ID_TA','Restaurant_id'])
# rid of useless columns

### Разбираемся с кухнями

In [7]:
'''### splitting cuisines into words
data2['Cuisine Style'] = data2['Cuisine Style'].apply(lambda x: x.strip("',[]"))
data2['Cuisine Style'] = data2['Cuisine Style'].apply(lambda x: x.split("', '"))'''

'### splitting cuisines into words\ndata2[\'Cuisine Style\'] = data2[\'Cuisine Style\'].apply(lambda x: x.strip("\',[]"))\ndata2[\'Cuisine Style\'] = data2[\'Cuisine Style\'].apply(lambda x: x.split("\', \'"))'

In [8]:
### list of cuisines
cuisines = set()
for i in data2['Cuisine Style']:
    cuisines.update(i)
print(cuisines)

{'P', 'j', 'C', 'm', 'b', 'p', 'i', 'O', 'K', 'T', 'a', 'J', 's', 'w', 'R', 't', ' ', 'U', 'A', 'd', 'F', 'g', 'f', 'u', 'G', ']', 'c', 'o', 'h', ',', "'", 'N', 'I', 'v', 'M', 'r', 'y', 'Z', 'Y', 'L', 'W', '[', 'k', 'E', '&', 'V', 'S', 'l', 'D', 'z', 'H', 'n', 'B', 'e', 'x'}

In [9]:
'''## exploding and encoding the cuisines
data2 = data2.explode('Cuisine Style')
dum_cuis = pd.get_dummies(data2['Cuisine Style'])
# merge with main df bridge_df on key values
data2 = data2.join(dum_cuis)
data2.drop(columns='Cuisine Style', inplace = True)'''

"## exploding and encoding the cuisines\ndata2 = data2.explode('Cuisine Style')\ndum_cuis = pd.get_dummies(data2['Cuisine Style'])\n# merge with main df bridge_df on key values\ndata2 = data2.join(dum_cuis)\ndata2.drop(columns='Cuisine Style', inplace = True)"

In [10]:
data2

,City,Cuisine Style,Ranking,Price Range,Number of Reviews,Reviews
0,Paris,"['Bar', 'Pub']",12963.0,$$ - $$$,4.0,"[[], []]"
1,Helsinki,"['European', 'Scandinavian', 'Gluten Free Opti...",106.0,$$ - $$$,97.0,"[['Very good reviews!', 'Fine dining in Hakani..."
2,Edinburgh,['Vegetarian Friendly'],810.0,$$ - $$$,28.0,"[['Better than the Links', 'Ivy Black'], ['12/..."
3,London,"['Italian', 'Mediterranean', 'European', 'Vege...",1669.0,$$$$,202.0,"[['Most exquisite', 'Delicious and authentic']..."
4,Bratislava,"['Italian', 'Mediterranean', 'European', 'Seaf...",37.0,$$$$,162.0,"[['Always the best in bratislava', 'Very good ..."
...,...,...,...,...,...,...
9992,London,"['Bar', 'British', 'Pub', 'Gastropub', 'Vegeta...",4425.0,$$ - $$$,53.0,"[['Great venue for celebrations and events, v...."
9993,Oporto,"['European', 'Portuguese']",742.0,$$ - $$$,5.0,"[['Must Go!', ""Go see these guys, they're grea..."
9994,Lisbon,"['Mediterranean', 'European', 'Portuguese']",813.0,$$ - $$$,119.0,"[['Waiting horror', 'Perfect Destination Weddi..."
9995,London,"['Caribbean', 'Barbecue', 'Jamaican', 'Vegetar...",4367.0,$,28.0,[['By far best Chicken burgers and wings in L....
9996,Lisbon,"['Indian', 'Asian', 'Nepali', 'Bangladeshi']",2612.0,$$ - $$$,2.0,"[['Ok indian food'], ['11/25/2017']]"

### Разбираемся с ценником

In [11]:
## make price range numerical
data2['Price Range'].unique()
def dollar_to_number(x):
    if x == '$':
        return 1
    if x == '$$-$$$':
        return 2
    if x == '$$$$':
        return 3
    else:
        return 1
data2['Price Range'] = data2['Price Range'].apply(dollar_to_number)

## Splitting cities into dummies

In [12]:
# generate binary values using get_dummies
dum_df = pd.get_dummies(data2.City)
# merge with main df bridge_df on key values
data2 = data2.join(dum_df)

In [13]:
### drop cities
data2.drop(columns='City', inplace = True)

In [14]:
data2

,Cuisine Style,Ranking,Price Range,Number of Reviews,Reviews,Amsterdam,Athens,Barcelona,Berlin,Bratislava,...,Munich,Oporto,Oslo,Paris,Prague,Rome,Stockholm,Vienna,Warsaw,Zurich
0,"['Bar', 'Pub']",12963.0,1,4.0,"[[], []]",0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
1,"['European', 'Scandinavian', 'Gluten Free Opti...",106.0,1,97.0,"[['Very good reviews!', 'Fine dining in Hakani...",0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,['Vegetarian Friendly'],810.0,1,28.0,"[['Better than the Links', 'Ivy Black'], ['12/...",0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,"['Italian', 'Mediterranean', 'European', 'Vege...",1669.0,3,202.0,"[['Most exquisite', 'Delicious and authentic']...",0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,"['Italian', 'Mediterranean', 'European', 'Seaf...",37.0,3,162.0,"[['Always the best in bratislava', 'Very good ...",0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9992,"['Bar', 'British', 'Pub', 'Gastropub', 'Vegeta...",4425.0,1,53.0,"[['Great venue for celebrations and events, v....",0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9993,"['European', 'Portuguese']",742.0,1,5.0,"[['Must Go!', ""Go see these guys, they're grea...",0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
9994,"['Mediterranean', 'European', 'Portuguese']",813.0,1,119.0,"[['Waiting horror', 'Perfect Destination Weddi...",0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9995,"['Caribbean', 'Barbecue', 'Jamaican', 'Vegetar...",4367.0,1,28.0,[['By far best Chicken burgers and wings in L....,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9996,"['Indian', 'Asian', 'Nepali', 'Bangladeshi']",2612.0,1,2.0,"[['Ok indian food'], ['11/25/2017']]",0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

# Разбиваем датафрейм на части, необходимые для обучения и тестирования модели

In [15]:
# Х - данные с информацией о ресторанах, у - целевая переменная (рейтинги ресторанов)
X = data2.drop(columns=['Reviews','Rating','Cuisine Style'])
y = data2['Rating']

KeyError: "['Rating'] not found in axis"

In [16]:
# Загружаем специальный инструмент для разбивки:
from sklearn.model_selection import train_test_split

In [17]:
# Наборы данных с меткой "train" будут использоваться для обучения модели, "test" - для тестирования.
# Для тестирования мы будем использовать 25% от исходного датасета.
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25)

NameError: name 'X' is not defined

# Создаём, обучаем и тестируем модель

In [143]:
# Импортируем необходимые библиотеки:
from sklearn.ensemble import RandomForestRegressor # инструмент для создания и обучения модели
from sklearn import metrics # инструменты для оценки точности модели

In [144]:
# Создаём модель
regr = RandomForestRegressor(n_estimators=100)

# Обучаем модель на тестовом наборе данных
regr.fit(X_train, y_train)

# Используем обученную модель для предсказания рейтинга ресторанов в тестовой выборке.
# Предсказанные значения записываем в переменную y_pred
y_pred = regr.predict(X_test)

In [145]:
# Сравниваем предсказанные значения (y_pred) с реальными (y_test), и смотрим насколько они в среднем отличаются
# Метрика называется Mean Absolute Error (MAE) и показывает среднее отклонение предсказанных значений от фактических.
print('MAE:', metrics.mean_absolute_error(y_test, y_pred))

MAE: 0.21681195516811955